
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/*Estilos del body*/
body {
    font-family:'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E3E5E8;
}

/*Estilos del header*/
header {
    font-size: 29px;
    background-color:#515151;
    color: whitesmoke;
    padding: 30px;    
}

/*Estilos del nav*/
nav a{
    background-color: #8E8E8E;
    padding: 0 16px;
    color: white;
    text-decoration: double;
    border-radius: 4%;
    font-weight: bolder;
}

/*Estilos del main*/
main {
    display:flex;
    padding: 10px;
}

main article p {
    font-size: 16px;
    font-weight:bolder;
}

/*Estilos de section, aside*/
section, aside {
    flex: 1;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 16px;
}

/*Estilos de texto*/
h2{ font-size:26px;
    font-weight:bolder;
}
.viaje{ font-size:16px;
    font-weight:bolder;
}

/* Estilos del footer */
footer {
    background-color: #515151;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    background-color: #8E8E8E;
    padding: 0 16px;
    color: white;
    text-decoration: double;
    border-radius: 4%;
    font-weight: bolder;
}

/* Estilos para las listas */
ul, ol {
    margin: 0;
    padding: 0 0 0 45px;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse:collapse
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

th, td {
    padding: 10px;
}

th{background-color: #8E8E8E;
    text-align: center;
    font-weight: bolder;
}

/* Estilos para los adjuntos (imagen, iframe) */

iframe {
    width: 100%;
    height: auto;
}

img { 
    width:350px;
    height:350px; 
    border-radius: 50%;
    object-fit: cover;
}

figcaption{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding:10px;
}